:host {
    --slds-c-input-color-border: black;
    --slds-c-input-color-border-focus: black;
    --slds-c-input-radius-border: var(--lwc-borderRadiusLarge);
    --pph-green: #C5FE00;
    --pph-gray: #f5f5f5;
}

.heading {
    font-size: 18px;
}

.heading.green {
    background-color: var(--pph-green);
}

.heading.gray {
    background-color: var(--pph-gray);
}

.actions lightning-button.black {
    --slds-c-button-neutral-color-background: black;
    --slds-c-button-neutral-color-background-hover:black;
    --slds-c-button-text-color: var(--pph-green);
}

.actions lightning-button {
    --slds-c-button-radius-border: 50px;
}

.separator {
    border: 1px solid var(--pph-green);
    margin: 2rem 0px;
}